---
import Link from "./Link.astro";

import siteConfig from "../../site-config";
const navLinks = siteConfig.navLinks || [];
---

<div class="flex mt-5">
  <a href="/" class="inline-flex items-center">
    <img src="/faveicon.webp" alt="logo" class="mr-2 w-20 rounded-full" />
    <h1 class="font-bold text-4xl">Folkets rop</h1>
  </a>
</div>
<header
  id="header"
  class="flex flex-col md:flex-row items-start md:items-center"
>
  <nav class="w-full">
    <div
      class="gap-x-4 md:gap-x-6 w-full border-y-2 border-gray-300 mb-6 md:my-5 py-2"
    >
      <ul class="flex flex-wrap w-full justify-between">
        {
          navLinks.map((item, index) => (
            <li
              class={`text-center w-full md:w-auto ${
                index !== navLinks.length - 1 ? "border-b border-gray-200" : ""
              } md:border-0`}
            >
              <Link text={item.text} href={item.href} data-navLink />
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</header>
