---
import Link from "./Link.astro";
import siteConfig from "../../site-config";
const navLinks = siteConfig.navLinks || [];
---

<header
  id="header"
  class="flex flex-col md:flex-row items-start md:items-center"
>
  <nav class="w-full md:w-[75vw]">
    <div
      class="gap-x-4 md:gap-x-6 w-full md:w-full border-b-2 border-gray-200 mb-6 md:mb-10 pt-4 md:pt-8"
    >
      <ul class="flex flex-wrap">
        {
          navLinks.map((item) => (
            <li>
              <Link text={item.text_arb} href={item.href} data-navLink />
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</header>
