---
import siteConfig from "../../site-config";

interface Props {
  currentTab: string;
}

const navLinks = siteConfig.navLinks || [];
---

<header id="header" class="flex">
  <nav
    class="flex flex-wrap gap-x-6 pt-8 w-[25vw] border-b-2 border-gray-200 mb-10"
  >
    {
      navLinks.map((link) => (
        <a
          class={`text-xl pb-1 border-b-2 ${
            link.text === Astro.props.currentTab
              ? "border-opacity-100 border-black"
              : "border-opacity-0 border-black hover:border-opacity-100"
          } transition-colors duration-150 ease-linear`}
          href={link.href}
        >
          {link.text}
        </a>
      ))
    }
  </nav>
</header>
