---
import SunSvg from "./SunSvg.astro";
import MoonSvg from "./MoonSvg.astro";
---

<button type="button" id="theme-selector" class="ml-auto">
  <MoonSvg state="hidden dark:inline" />
  <SunSvg state="dark:hidden" />

  <script>
    document.getElementById("theme-selector")?.addEventListener("click", () => {
      if (localStorage.theme === "dark") {
        localStorage.theme = "light";
        document.documentElement.classList.remove("dark");
      } else {
        localStorage.theme = "dark";
        document.documentElement.classList.add("dark");
      }
    });
  </script>
</button>

