---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import NewsCard from "../../components/NewsCard.astro";

const foreignAffairsPosts = await getCollection("Utenriks");

foreignAffairsPosts.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);
const [mainNews, ...remainingposts] = foreignAffairsPosts;
---

<BaseLayout currentTab="Utenriks">
  {
    remainingposts.map((post) => (
      <a class="inline-block m-1" href={`/Utenriks/${post.slug}/`}>
        <NewsCard
          title={post.data.title}
          description={post.data.description}
          image={post.data.image}
        />
      </a>
    ))
  }
</BaseLayout>
