---
import { fade } from "astro:transitions";
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import siteConfig from "../site-config";

const { ...head } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <BaseHead {...head} />
    <ViewTransitions />
  </head>
  <body class="sm:px-96 md:px-14">
    <div class="flex mt-5">
      <a href="/" class="inline-flex items-center">
        <img src={"../../" + "faveicon.webp"} class="mr-2 w-20 rounded-full" />
        <h1 class="font-bold text-4xl">Folkets rop</h1>
      </a>
    </div>
    <main transition:animate={fade({ duration: "0.25s" })}>
      <slot />
    </main>
  </body>
</html>
