---
import { fade } from "astro:transitions";
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/navigation_ui/Navbar.astro";
import Ui from "../components/navigation_ui/Ui.astro";
import CheckTheme from "../components/navigation_ui/CheckTheme.astro";

interface Props {
  currentTab: string;
}

const { currentTab, ...head } = Astro.props;
---

<!doctype html>
<html class="bg-white text-gray-900 dark:bg-black dark:text-gray-100">
  <head>
    <BaseHead {...head} />
    {/*<CheckTheme />*/}
    <ViewTransitions />
  </head>
  <body class="px-5 md:mx-2">
    <div class="flex mt-5 items-center">
      <Ui />
    </div>
    <Navbar currentTab={currentTab} />
    <main transition:animate={fade({ duration: "0.25s" })}>
      <div
        class="w-[calc(100vw-2*28px)] h-[calc(100vh-218px)] grid grid-cols-3 grid-flow-col gap-4"
      >
        <slot />
      </div>
    </main>
  </body>
</html>
