---
import { fade } from "astro:transitions";
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";

const { currentTab, ...head } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <BaseHead {...head} />
    <ViewTransitions />
  </head>
  <body class="px-5 md:mx-2">
    <div class="flex mt-5">
      <img src="../../faveicon-temp.png" class="mr-2 w-14" />
      <a href="/" class="my-auto">
        <h1 class="font-bold text-4xl">Folketsrop</h1>
      </a>
    </div>
    <Navbar currentTab={currentTab} />
    <main transition:animate={fade({ duration: "0.25s" })}>
      <slot />
    </main>
  </body>
</html>
